.site-header {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: $dark-black;
  box-shadow: 0px 2px 30px rgba($dark-black, 0.1);

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $ic-300;
    padding-right: $ic-300;

    @include breakpoint(md) {
      overflow: visible;
    }
  }

  &__logo {
    display: grid;

    .brand-logo {
      img {
        width: 100%;
        max-width: 170px;
        padding: $ic-100 0;

        @include breakpoint(md) {
          max-width: 275px;
        }
      }
    }
  }
}